.img:hover {
  opacity: 1;

  transform: scale(1.123);
  -webkit-transform: scale(1.123);
  -moz-transform: scale(1.123);
  -ms-transform: scale(1.123);
  -o-transform: scale(1.123);
  overflow: none;
}
.img {
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
}
