.checkout-item-container {
  width: 126.5%;
  display: flex;
  min-height: 100px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 75px;
  font-size: 20px;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(59, 105, 221, 1) 0%,
    rgba(225, 29, 199, 1) 100%
  );

  .image-container {
    width: 29%;
    padding-right: 15px;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .name,
  .quantity,
  .price {
    width: 33%;
    padding-left: 5px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .quantity {
    display: flex;

    .arrow {
      cursor: pointer;
      font-size: 30px;
    }

    .value {
      margin: 0 10px;
      font-size: 30px;
      color: rgb(0, 0, 0);
    }
  }
  .price {
    font-size: 30px;
    font-weight: normal;
    color: black;
  }
  .name {
    font-size: 27px;
    margin-left: 3px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .remove-button {
    padding-left: 12px;
    cursor: pointer;
    font-size: 20px;
    color: rgb(4, 1, 1);
  }
}
