.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: black;
  padding-left: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.input {
  display: block;
  margin-top: 20px;
  height: 50px;
  width: 40rem;
  font-size: 26px;
  border-bottom: 2px solid white;
  border-radius: 10px;
  color: white;
  background: black;
  box-shadow: 3px -6px 6px rgb(239, 12, 12);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.textareaa {
  display: block;
  margin-top: 20px;
  height: 200px;
  width: 38rem;
  font-size: 30px;
  color: white;
  box-shadow: 5px -5px 6px rgb(239, 12, 12);
  border-radius: 20px;
  background: black;
  border-bottom: 2px solid white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.btn {
  color: rgb(118, 114, 114);
  background-color: black;
  margin-left: 1.5rem;
  margin-top: 10px;
  margin-bottom: 50px;
  height: 50px;
  width: 300px;
  font-size: 23px;
  border-radius: 10px;
  box-shadow: 3px -5px 6px rgb(239, 12, 12);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-bottom: 2px solid rgb(255, 253, 253);
}
.divone {
  background: black;
  border-radius: "20px";
}
h2 {
  font-size: 20px;
  color: rgb(10, 1, 1);
}
span {
  font-size: 51px;
  color: rgb(245, 17, 17);
}
h4 {
  font-size: 35px;
  color: white;
}
h3 {
  color: white;
}
.footer {
  border-radius: "20px";
}
.sspan {
  border-bottom: 1.8px solid white;
  margin-bottom: 40px;
}
