h1 {
  background-color: bisque;
  transition: transform 1.5s ease;
  -webkit-transition: transform 1.5s ease;
  -moz-transition: transform 1.5s ease;
  -ms-transition: transform 1.5s ease;
  -o-transition: transform 1.5s ease;
}
h1:hover {
  background-color: #ff0000;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
